<div class="container mt-4">
  <h1 class="mb-4">Positions</h1>

  <div class="d-flex
              justify-content-between
              align-items-center
              px-3
              py-2
              bg-light
              fw-bold
              rounded-top-right
              rounded-top-left
              border">
    <div class="flex-fill">Namn</div>
    <div class="flex-fill">Koefficient</div>
    <div class="text-right">Åtgärder</div>
  </div>


  <ul class="list-group
              border
              border-top-0
              "
      style="
             border-bottom-left-radius: 0.5rem;
             border-bottom-right-radius: 0.5rem;
             border-top-left-radius: 0rem;
             border-top-right-radius: 0rem;
             ">
    <% @positions.each_with_index do |position, index| %>
      <li class="list-group-item d-flex justify-content-between align-items-center"
          style="
            border: none;
            border-top: <%= '1px solid #dee2e6' unless index == 0 %>;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            <%= 'border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;' if index == @positions.size - 1 %>
          ">
        <div style="flex: 1;"><%= position.name %></div>
        <div style="flex: 1;"><%= position.coefficient %></div>
        <div style="width: 160px; text-align: right;">
          <%= button_to "Edit", edit_position_path(position), class: "btn btn-sm btn-primary me-2" %>
          <%= button_to "Delete", position_path(position), method: :delete, data: { confirm: "Är du säker?" }, class: "btn btn-sm btn-danger" %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to "New Position", new_position_path, class: "btn btn-success mt-3" %>
</div>
